.blue{
    color: #3490dc !important;
}
.indigo {
    color: #6574cd !important;
}
.purple{
    color: #9561e2 !important;
} 
.pink{
    color: #f66D9b !important;
} 
.red{
    color: #e3342f !important;
} 
.orange{
    color: #f6993f !important;
} 
.yellow{
    color: #ffed4a !important;
} 
.green{
    color: #38c172 !important;
} 
.teal{
    color: #4dc0b5 !important;
} 
.cyan{
    color: #6cb2eb !important;
} 

.bg-blue{
    background-color: #3490dc !important;
}
.bg-indigo {
    background-color: #6574cd !important;
}
.bg-purple{
    background-color: #9561e2 !important;
} 
.bg-pink{
    background-color: #f66D9b !important;
} 
.bg-red{
    background-color: #e3342f !important;
} 
.bg-orange{
    background-color: #f6993f !important;
} 
.bg-yellow{
    background-color: #ffed4a !important;
} 
.bg-green{
    background-color: #38c172 !important;
} 
.bg-teal{
    background-color: #4dc0b5 !important;
} 
.bg-cyan{
    background-color: #6cb2eb !important;
} 

/* Navbar Supported Content */
#navbarSupportedContent .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #54a4e0;
}
/* Sidebar custom */
#sidebarnav li.selected ul.first-level li.active{
    background-color: #28b779;
}

/* Validate Change Password */
#password_validate .error{
    color: #da542e;
}

#password_validate input.error{
    border-color: #da542e;
}

#password_validate .valid{
    color: #28b779;
}

#password_validate input.valid{
    border-color: #28b779;
}

/* Validate Add Category */
#add_category .error{
    color: #da542e;
}

#add_category input.error, #add_category textarea.error{
    border-color: #da542e;
}

#add_category .valid{
    color: #28b779;
}

#add_category input.valid, #add_category textarea.valid{
    border-color: #28b779;
}

#add_category .select2{
    width: 100%;
}

#add_category .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#add_category .select2-selection__rendered{
    color: #28b779;
}

/* Validate Edit Category */
#edit_category .error{
    color: #da542e;
}

#edit_category input.error, #edit_category textarea.error{
    border-color: #da542e;
}

#edit_category .valid{
    color: #28b779;
}

#edit_category input.valid, #edit_category textarea.valid{
    border-color: #28b779;
}

#edit_category .select2{
    width: 100%;
}

#edit_category .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#edit_category .select2-selection__rendered{
    color: #28b779;
}

/* Validate Add Product */
#add_product .error{
    color: #da542e;
}

#add_product input.error, #add_product textarea.error{
    border-color: #da542e;
}

#add_product .valid{
    color: #28b779;
}

#add_product input.valid, #add_product textarea.valid{
    border-color: #28b779;
}

#add_product .select2{
    width: 100%;
}

#add_product .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#add_product .select2-selection__rendered{
    color: #28b779;
}

/* Validate Edit Product */
#edit_product .error{
    color: #da542e;
}

#edit_product input.error, #edit_product textarea.error{
    border-color: #da542e;
}

#edit_product .valid{
    color: #28b779;
}

#edit_product input.valid, #edit_product textarea.valid{
    border-color: #28b779;
}

#edit_product .select2{
    width: 100%;
}

#edit_product .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#edit_product .select2-selection__rendered{
    color: #28b779;
}

form.dropzone{
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

/* Validate Add Coupon */
#add_coupon .error{
    color: #da542e;
}

#add_coupon input.error, #add_coupon textarea.error{
    border-color: #da542e;
}

#add_coupon .valid{
    color: #28b779;
}

#add_coupon input.valid, #add_coupon textarea.valid{
    border-color: #28b779;
}

#add_coupon .select2{
    width: 100%;
}

#add_coupon .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#add_coupon .select2-selection__rendered{
    color: #28b779;
}

/* Validate Edit Coupon */
#edit_coupon .error{
    color: #da542e;
}

#edit_coupon input.error, #edit_coupon textarea.error{
    border-color: #da542e;
}

#edit_coupon .valid{
    color: #28b779;
}

#edit_coupon input.valid, #edit_coupon textarea.valid{
    border-color: #28b779;
}

#edit_coupon .select2{
    width: 100%;
}

#edit_coupon .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#edit_coupon .select2-selection__rendered{
    color: #28b779;
}

/* Validate Add Banner */
#add_banner .error{
    color: #da542e;
}

#add_banner input.error, #add_banner textarea.error{
    border-color: #da542e;
}

#add_banner .valid{
    color: #28b779;
}

#add_banner input.valid, #add_banner textarea.valid{
    border-color: #28b779;
}

#add_banner .select2{
    width: 100%;
}

#add_banner .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#add_banner .select2-selection__rendered{
    color: #28b779;
}

/* Validate Edit Coupon */
#edit_banner .error{
    color: #da542e;
}

#edit_banner input.error, #edit_banner textarea.error{
    border-color: #da542e;
}

#edit_banner .valid{
    color: #28b779;
}

#edit_banner input.valid, #edit_banner textarea.valid{
    border-color: #28b779;
}

#edit_banner .select2{
    width: 100%;
}

#edit_banner .select2-selection{
    border-color: #28b779;
    color: #28b779;
    line-height: 40px;
}

#edit_banner .select2-selection__rendered{
    color: #28b779;
}