#register_form, #login_form{
    padding: 20px;
    background-color: #fff;
}

#register_form input, #login_form input{
    font-size: 14px;
    color: #333333;
}

#register_form button, #login_form button{
    cursor: pointer;
}
#fullname-error, #phone-error, #email-error, #password-error{
    font-size: 11px;
    color: #a94442;
}